.pa-17 {
  padding: 68px !important;
}

// .v-card {
//   border-radius: 50% !important;
// }

.v-text-field--outlined.v-input--is-focused fieldset,
.v-text-field--outlined.v-input--has-state fieldset {
  border: 2px solid #000 !important;
}

.v-data-table {
  th.text-start {
    font-size: 1rem !important;
  }
}

.v-list .v-list-item__icon {
  margin: 12px 16px 12px 0 !important;
}

h1,
h2,
h3,
h4,
h5,
h6,
.text-h1,
.text-h2,
.text-h3,
.text-h4,
.text-h5,
.text-h6,
.text-button,
.text-overline,
.v-card-title,
.v-card__title {
  color: rgba(58, 53, 65, 0.87);
}

.card-list .v-list-item {
  padding-right: 0px !important;
  padding-left: 0px !important;
}

.v-card__text {
  padding: 20px !important;

  & + & {
    padding-block-start: 0 !important;
  }
}
